body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  /* color: white; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
  margin: 10px;
}

.headerimage {
  width: 500px;
  height: 225px;
  flex-shrink: 0;
}
header {
  font: 24px;
  color: #f9faf8;
  margin-left: -18px;
}
/* Start header container  */

.header {
  display: flex;
  background-color: #1f2937;
  flex-direction: column;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containertex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 25px;
  /* gap: 10px; */
}
#texttop {
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;

  margin-bottom: -10px;
}
.headerdecription {
  display: flex;
  text-align: left;
  width: 400px;
  color: #e5e7fb;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

  /* height: 300px; */

  /* align-items: start; */
}
.button button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #4d88ff;
  padding: 12px 25px;
}

#textbelow {
  color: #f9faf8;
}

/* END HEADER CONTAINER A */

/* CONTAINER B */
.containerB {
  display: flex;
  padding: 50px 0 100px 0;
  flex-direction: column;
}

/* card section */

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 3px;
  background-color: #3883f6;
}
.rowimages {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

/* End Card section*/

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 900;
  font-size: 36px;
  margin-top: -20px;
}
/* All the cards are in this section */
.cardscontainer {
  display: flex;
  justify-content: center;
}
.textrowimages {
  text-align: center;
  color: gray;
}
/*  END CONTAINER B */

/* START CONTAINER C */
.containerC {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  padding: 50px 0 100px 0;
  align-items: center;
}
.textC {
  display: flex;
  width: 800px;
  color: gray;
  font-size: 36px;
  font: 300px;
}
.author {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -30px;
  font-weight: bold;
}
